:root {
    --site-background: white;
    --main-div-background: rgba(228, 228, 228, 0.75);
    --border-color: grey;
    --main-text-background: rgb(217, 217, 217);
    --shadow-color: #969696;
}

/***** Top-Level Elemenmts *****/

body {
    display: flex;
    flex-direction: column;
    /* Font from fivethirtyeight.com */
    font-family: AtlasGrotesk, "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* TODO: The rainbow background is only there for testing. Try to replace it with an image of legos or something. */
    /* background-image: linear-gradient(violet, indigo, blue, green, yellow, orange, red); */
    background-image: white;
    /* background-image: url("assets/lego-1.jpg"); */
}

footer {
    text-align: center;
}

/* Note: The svg elements are set to grow at a rate of 4
   and the p elements are set to grow at a rate of 1.
   This should yield a 75%-25% svg-p distribution.
 */
svg {
    background-color: grey;
    flex-grow: 4;
    border-radius: 10px;
}

p {
    flex-grow: 1;
    padding: 0px;
    margin: 0px;
}

/* Thus far, the only div tags on the DOM are
   the ones housing the <main> content. If more
   are added, we'll need to make a separate class
   for the div tags in the <main> section to
   properly differentiate them.
 */
.main-div {
    /* TODO: What looks better with the shadow? 5px or 10px? */
    margin: 10px 0px 10px 0px;
    padding: 0px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid var(--border-color);
    background-color: var(--main-div-background);
    /* TODO: Does it look better or worse with the shadow? */
    /* x-axis, y-axis, blur, spread, color https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/Add_a_shadow */
    box-shadow: 2px 2px 5px 2px var(--shadow-color);
}

.main-text {
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    border: 2px solid var(--border-color);
    background-color: var(--main-text-background);
    /* This max-width property sets the maximum width
       of the p tags in the <main> section. If we need
       to adjust the width of the svg or p tags individually,
       that can be done with thier individual IDs. */
    max-width: 300px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.leftVisElement {
    margin-right: 5px;
}

.rightVisElement {
    margin-left: 5px;
}

/***** Flexbox *****/

.flex-container {
    display: flex;
    flex-direction: row;
}

/***** Introduction <div> *****/

#introduction {
    padding: 10px 20px 20px 20px;
}

#introduction h1 {
    margin: 0px 0px 10px 0px;
}

/***** <div> Tags *****/

#piecesLineChart {

}

#themesLineChart {
    
}

#heatmap {
    
}

#theSquiggler {
    
}

#interactiveSquiggler {
    
}

/***** SVGs *****/

#svg_piecesLineChart {

}

#svg_themesLineChart {

}

#svg_heatmap {

}

#svg_theSquiggler {

}

#svg_interactiveSquiggler {

}